__pycache__/
tabGenerator/tabGenerator/__pycache__/
*.pyc
*.egg-info/
.tox/
.coverage*
.pytest_cache/

*.mp3

data/*
node_modules/*
app/mediafiles/*
app/accounts/migrations/*
app/uploadapp/migrations/*
app/tab_generator/migrations/*
app/users/migrations*
.idea/*

react/node_modules/*

app/tabs/migrations/*
app/users/migrations/*
app/products/migrations*
app/tabs/migrations/*
/venv/*



angularmir/node_modules/*
oldangular/node_modules/*